language: php

php:
  - "7.1"

install:
  - composer install --no-interaction

before_script:
  - mkdir -p build/logs

script:
  - ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml
#  - ./phpcs.sh --dry-run --diff

after_success:
  - ./vendor/bin/coveralls
